body{
    background-color: #eaeaf4;
}

#nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#logo {
    width: 20%;
}

#logo>img {
    width: 35%;
    margin-left: 15%;

}

#signup {
    display: flex;
    width: 20%;
    gap: 10px;
    align-items: center;
}
#signup>a>p{
    color: black;
    font-size: 17px;
    font-weight: bold;

}
#signup>a>p:hover{
    color: #ff7846;
}
#signup>a{
    text-decoration: none;
}
#loginpart{
    height: auto;
    width: 55%;
    /* border: 1px solid saddlebrown; */
    margin: auto;
    margin-top: 30px;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
}
#offer{
    height: 100%;
    width: 40%;
    /* border: 1px solid saddlebrown; */

}
#offer>p{
    font-size: 10px;
    word-spacing: 5px;
    letter-spacing: 2px;
    color: #8c8c90;
}
#offer>h2{
    font-size: 17px;
}
#offer>h2:hover{
    color: #3367d6;
    cursor: pointer;
}
#offer>div{
    display: flex;
    gap: 20px;
}
#offer>div>img{
    height: 100%;
}
#offer>div>p{
  font-size: 13px;
  line-height: 18px;
  color: #8c8c90;
}
#form{
    height: 100%;
    width: 40%;
    /* border: 1px solid saddlebrown; */

}
#form>p:first-child{
    color: #646468;
    font-weight: bold;
    margin-top: 0px;
}
#form>input{
    padding: 10px 80px 10px 5px;
    margin-top: 15px;
    border-radius: 3px;
    border: 1px solid #8c8c90;
}
#form>span{
    margin-left: 20%;
}
#form>button{
    padding: 10px 40px;
    margin-top: 15px;
    background-color: #ff7846;
    border: none;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}
#form>a>div{
    height: 35px;
    width: 70%;
    display: flex;
    align-items: center;
    border: 1px solid #4285f4;
    margin: auto;
    padding: 0px;
    margin-top: 20px;
    background-color: #4285f4;
   
    
}
#form>a{
    text-decoration: none;
}
#form>a>div>img{
    width: 18%;
    height: inherit;
    margin: 0%;
}
#form>a>div>p{
   color: #eaeaf4;
   font-size: 17px;
   margin-left: 10%;
   
}
#slink>p{
    text-align: center;
    margin-top: 5%;
    color: #4285f4;
}
#slink>p:hover{
    text-decoration: underline;
}
